*{
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

#encabezado{
    width: 100%;
    background-color: darkslategrey;
}

#enc_text{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

nav ul{
    background-color: black;
    width: 100%;
    height: 45px;
    padding-top: 25px;
    text-align: center;
}

nav li{
    display: inline;
    padding: 25px;
}

nav a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 20px;
}

nav li:hover {
    background-color: darkcyan;
}

#ben{
    position: absolute;
    display: inline;
    right: 20%;
    height: 380px;
    width: 240px;
    border-radius: 30px;
    object-fit: cover;
}

#info{
    padding-top: 20px;
}

#presentacion{
    border-style: double;
    margin-left: 15%;
    margin-right: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: white;
}

#presentacion, p{
    padding: 8px;
}

span{
    color: cyan;
}

#estudios{
    padding-top: 20px;
    margin-left: 20%;
    margin-right: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: white;
    justify-content: center;
}

footer{
    padding-top: 20px;
    text-align: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

